*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.contenitore{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#carosello{
    position: relative;
}

.logo{
    width: 200px;
    margin-bottom: 50px;
}

.contenitore figure img{
    width: 800px;
    height: 400px;
}

.sottoCarosello img{
    width: 175px;
    border: 1px solid gray;
}

.fa-chevron-right,
.fa-chevron-left{
    background-color: white;
    opacity: 0.5;
    border-radius: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding: 7px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 10px;
}

.fa-chevron-left{
    left: 10%;
    top: 200px;
}

.fa-chevron-right{
    top: 200px;
    left: 90%;
}

/* tutte le immagini partono in d.none */
figure img{
    display: none;
}

/* la classe active ci permette di rendere l'immagine in d.block */
figure img.active{
    display: block;
}